<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | todolist.go</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script language="JavaScript">
    function Check(){
        if(document.list.password.value==""){
            alert("パスワードを入力してください。");
        return false;
        }
        if(document.list.birth.value==""){
            alert("生年月日を入力してください。");
        return false;
        }
        return true;
    } 
    </script>
</head>
<!--参考文献 フォームメール／未入力チェックのサンプル
http://support.avis.ne.jp/user-support/server/cgi-hosting/commoncgi/formmail/sample2
-->
<body>
<ul>
    {{ .Text }}
    <li>パスワードを忘れた方</li>
    <form  action="/changepass" method="POST" name="list"onsubmit="return Check()">
    <label for="name">ユーザー名</label><br>
    <input type="text" name="name"> <br>
    <label for="birth">生年月日</label><br>
    <input type="date" name="birth"><br>
    <br>
    <label for="password">新規パスワード</label><br>
    <input type="password" name="password"><br>
     <input type="submit" value="変更">
        </form><br>

        <br>
    <tr><a href="/">
        ログイン画面に戻る
    </a>
</ul>

{{ template "footer" }}